*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-color:rgba(228, 217, 217, 0.945)!important;
    line-height: 1.5;
    font-size: 1.05rem;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}
.logo img
{
    width:130px;
    height:80px;
    margin-left:auto;
    margin-right:auto;
}
li{
  text-decoration: none;
  outline:none;
  list-style: none;
}


/*----------------------*-------- NAVBAR STARTS------------------*-----------*/
/*----------------------*-------- NAVBAR STARTS------------------*-----------*/
nav{
  box-shadow: 0 4px 6px -6px #222;
}
.navbar-brand img{
  width:100px;
  height:60px;
}
nav a:hover
{
  color:rgb(110, 16, 16)!important;
}
nav a
{

letter-spacing: 0.3px;
padding-right:14px!important;
opacity: 0.9;
font-size: 0.9rem;
font-weight:bold;
line-height:1.5;
font-family:"Poppins",sans-serif;

}
/*----------------------*-------- NAVBAR ENDS------------------*-------------------*/
/*----------------------*-------- NAVBAR ENDS------------------*-----------*/

/*----------------------*-------- FORM SECTION STARTS------------------*-----------*/

.login-logo {
    text-align: center;
    margin-bottom: 15px; }
    .login-logo span {
      color: #ffffff;
      font-size: 24px; }
  
  .login-content {
    max-width: 540px;
    margin: 8vh auto; }
  
  .login-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 2px; }
  
  .login-form h4 {
    color: #878787;
    text-align: center;
    margin-bottom: 50px; }
  
  .login-form .checkbox {
    color: #878787; }
  
  .login-form .checkbox label {
    text-transform: none; }
  
  .login-form .btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border: 0px; }
  
  .login-form label {
    color: #000;
    text-transform: uppercase; }
  
  .login-form label a {
    color: #516abb; }
  
  .social-login-content {
    margin: 0px -30px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0px;
    background: #fcfcfc; }
  
  .social-button {
    padding: 0 30px; 
  }
    .social-button .facebook {
      background: #3b5998;
      color: #fff; }
      .social-button .facebook:hover,.social-button .google:hover,.login-form .btn:hover {
        background: #e8e9eb;
        color:#000; }
    .social-button .google {
      background: #80171c;
      color: #fff; }
  
  .social-button i {
    padding: 19px;
 }
  
  .register-link a {
    color: #3a62ac; }
/*----------------------*-------- FORM SECTION ENDS------------------*-----------*/

/*----------------------*-------- FOOTER SECTION STARTS------------------*-----------*/
footer
 {
     background:rgb(247, 244, 244);
     font-weight:bolder;
     width:100%;
     height:auto;
     padding:70px 0 20px 0;
     position:relative;
 }
 .footersection a, .credits a
 {
  text-transform:capitalize;
  opacity: 0.9;
  font-size: 0.7rem;
  font-weight:bold;
  line-height:1.5!important;
  font-family:"Poppins",sans-serif;
  color:#000;
  list-style:none;
  padding-bottom:5px!important;
 }
 .footersection li{
  padding-bottom:7px!important;
  font-size: 0.7rem;
  font-weight:bold;
  font-family:"Poppins",sans-serif;
 }
 .footersection h3
 {
     text-transform:uppercase;
     color:#000;
     margin-bottom:25px;
     font-size:1.2rem !important;
     font-weight:600;
     text-shadow: 0 2px 5px rgb(0,0,0,0.4);
 }
 .credits h4
 {
    text-transform:uppercase;
    color:#000;
    margin-bottom:25px;
    font-size:0.7rem !important;
    font-weight:bold;
    float:right;

 }
 
 .credits
 {
     font-weight:bolder;
     width:100%;
     height:auto;
     padding:10px 0 0 0;
     position:relative;
     display:flex;
     justify-content:space-between;
 }
 .social-icons li{
    display:inline;
    float:left;
    padding-right:0.3rem;
 }
 
 .credits li{
     list-style: none;
     display:inline;
     float:left;
     padding-right:0.6rem;
 }
 small{
  color:rgb(109, 18, 18) !important;
  font-weight: bold!important;
}
 .credits a:hover,.footersection a:hover{
     text-decoration: none;
     color:rgb(99, 16, 16)
 }
 /*----------------------*-------- FOOTER SECTION ENDS------------------*-----------*/
 